body {
  background-color: darkmagenta;
}

.option-img {
  max-width: 80px;
  transition: transform 0.5s;
}

.option-img:hover {
  transform: scale(1.5);
}

.select-img {
  max-width: 100px;
}

.vs-img {
  max-width: 40px;
}
